body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(amanecer-invernadero-vivero-quebrada-de-lules.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header, footer {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for better readability */
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

section {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background for better readability */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Specific section styles */
.importance {
    border: 2px solid #ff0000;
}

.how-to-plant {
    border: 2px solid #00ff00;
}

/* Custom style for the importance section text */
.importance p {
    color: red;
    font-weight: bold;
}

/* Custom style for the footer text */
#verde {
    color: green;
    font-weight: bold;
}
