/* Font properties */
body {
    font-family: Arial, sans-serif; /* Specify a fallback font family */
    font-size: 16px; /* Set font size to 16 */
    line-height: 1.6; /* Adjust the line height */
    color: white; /* Set text color to white */
}

h1, h2, h3 {
    font-style: italic; /* Set font style to italic */
    font-weight: bold; /* Set font weight to bold */
    text-align: center; /* Center-align heading text */
    text-decoration: underline; /* Add underline to heading text */
}

/* List properties */
ol {
    list-style-type: decimal; /* Set list style type to decimal numbers */
}

/* Background properties */
body {
    background-image: url(amanecer-invernadero-vivero-quebrada-de-lules.jpg); /* Specify the path to your background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center; /* Center the background image */
    background-size: cover; /* Cover the entire background with the image */
}

/* Text color */
.rojo {
    color: rgb(224, 252, 99); /* Set text color to red */
}

#verde {
    color: rgb(116, 225, 244); /* Set text color to green */
}
